@use "@angular/material" as mat;

:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
  @include mat.icon-overrides((
    color: var(--mat-sys-on-primary),
  ));
}

.app-header {
  gap: 8px;
}

.header-spacer {
  flex: 1 1 auto;
}
