$header-height: 64px;
$footer-height: 64px;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  position: fixed;
  flex: 0 0 $header-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-nav {
  border-right: 1px solid var(--mat-sys-surface-variant);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.app-content {
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
}

.app-sidenav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-sidenav-body {
  flex: 1 1 auto;
}

.app-sidenav-footer {
  flex: 0 0 $footer-height;
  border-top: 1px solid var(--mat-sys-surface-variant);
}

.app-height-full {
  height: 100%;
}

.active {
  background: var(--mat-sys-surface-dim);
}

.dark-mode {
  color-scheme: dark;
}

.light-mode {
  color-scheme: light;
}
