$header-height: 64px;
$footer-height: 64px;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  position: fixed;
  flex: 0 0 $header-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-scrollable {
  display: flex;
  flex-direction: column;
  margin-top: $header-height;
  overflow-y: auto;
  height: calc(100vh - #{$header-height});
}

.app-sidenav-container {
  height: 100%;
}

.app-nav {
  border-right: 1px solid var(--mat-sys-surface-variant);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.app-content {
  flex: 1 0 auto;
}

.app-footer {
  flex: 0 0 $footer-height;
  border-top: 1px solid var(--mat-sys-surface-variant);
}
