<div class="app-container" [class]="isDarkMode() ? 'dark-mode' : 'light-mode'">
  <header class="app-header">
    <app-header
      [sidenav]="sidenav"
      [isDarkMode]="isDarkMode"
      [isMobile]="isMobile()"
    ></app-header>
  </header>

  <div class="app-scrollable">
    <main class="app-content">
      <mat-sidenav-container class="app-sidenav-container" autosize>
        <mat-sidenav
          class="app-nav"
          #sidenav
          [mode]="isMobile() ? 'over' : 'side'"
          [opened]="isMobile() ? false : true"
        >
          <mat-action-list
            role="list"
            aria-label="Menu actions"
            (click)="isMobile() && sidenav.close()"
          >
            <a
              mat-list-item
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><mat-icon matListItemIcon>home</mat-icon>
              <span matListItemTitle>Home</span>
            </a>
            <a mat-list-item routerLink="/users" routerLinkActive="active"
              ><mat-icon matListItemIcon>people</mat-icon>
              <span matListItemTitle>User List</span>
            </a>
          </mat-action-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </main>

    <footer class="app-footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
